MODEL_NAME=tazuneru/baseline-phobert-vsmec-emotion-recognition
VI_MODEL_NAME=tazuneru/baseline-phobert-vsmec-emotion-recognition
EN_MODEL_NAME=tazuneru/roberta-emotion-english
DEFAULT_LANGUAGE=vi
SUPPORTED_LANGUAGES=vi,en
PRELOAD_LANGUAGES=vi
DEVICE=cpu
MAX_TOKENS=256
MAX_TEXT_LENGTH=700
LOG_LEVEL=INFO
